<div class="card ">
  <div class="card-header">Permisos</div>
  <div class="card-body ">

    <div class="my-2 text-left">
      <!-- <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Rol</button> -->
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>DOCENTE</th>
          <th>SOLICITANTE</th>
          <th>RESPONSABLE</th>
          <th>CONSTATANTE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{usuarios.nombres}} {{usuarios.apellidos}}</td>
          <td>
            <label class="toggle" for="myToggle">
              <input class="toggle__input" name="" type="checkbox" id="myToggle" placeholder="xd">
              <div class="toggle__fill"></div>
            </label>
          </td>

          <td>
            <label class="toggle" for="myToggle2">
              <input class="toggle__input2" name="" type="checkbox" id="myToggle2" placeholder="xd">
              <div class="toggle__fill"></div>
            </label>
          </td>

          <td>
            <label class="toggle" for="myToggle3">
              <input class="toggle__input3" name="" type="checkbox" id="myToggle3" placeholder="xd">
              <div class="toggle__fill"></div>
            </label>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>