<div class="container" id="container" style="margin-top: 50px;">
	
	<div class="form-container sign-in-container">
		<form action="#" class="login-form" ngNativeValidate (ngSubmit)="onSubmit()">
			<h1>Bienvenido/a</h1>
			<div class="social-container">
			
			</div>
			<span>Ingresa tus credenciales</span>
      <input type="text" id="search" placeholder="correo institucional " name="correo" [(ngModel)]="form.correo" (input)="autoCompleteEmail($event)" required>
                      <input type="password" id="search" placeholder="password" name="password" [(ngModel)]="form.contrasenia" required>
			<a >Has olvidado tu contraseña?</a>
			<button type="submit">Inicio</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>Registrate!</h1>
				<p>Ingres tus detalles personales</p>
				<button class="ghost" id="signUp" routerLink="/registra" >Registrar</button>
			</div>
		</div>
	</div>
</div>

