<!-- 
<script src="http://googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<header>
    <div class="responsive, background">
   
    </div>
</header>
<div class = "bootstrap-wrapper">
<div class="container text-center">
    <div class = "row">
        <div >
            <div >
                <form lass="form-horizontal" ngNativeValidate (ngSubmit)="create()">
                    <fieldset class="fields">
                        <legend class="header">REGISTRARSE</legend>
                        <img src="/assets/img/icon.png" class="img-perfil container">
                        
                        <div class="container form-group">
                            
                            <div class="col-md-8 ">
                                <input type="text" maxlength="10" placeholder="CEDULA" class="form-control, text" required [(ngModel)]="usuario.cedula" name="cedula" (input)="escribirInput($event)">
                               
                            </div>
                        </div>
                        
                        <div class="container form-group">
                            
                            <div class="col-md-8">
                                <input type="text"  id="nombresss" placeholder="NOMBRES" class="form-control, text" required [(ngModel)]="usuario.nombre" name="nombres" disabled>
                            </div>
                        </div>
                        
                        <div class=" container form-group">
                            
                            <div class="col-md-8">
                                <input type="text" placeholder="APELLIDOS" class="form-control, text" required [(ngModel)]="usuario.apellido" name="apellidos" disabled>
                            </div>
                        </div>

                        <div class="container form-group">
                            
                            <div class="col-md-8">
                                <input type="email" id="correoe" placeholder="CORREO" class="form-control, text" required [(ngModel)]="usuario.correo" name="correo" disabled (input)="autoEmail($event)">
                                <div id="emailHelp" class="textlabel">Nunca compartiremos su correo electrónico con nadie más.</div>
                            </div>
                        </div>

                        <div class="container form-group">
                            
                            <div class="col-md-8 text-center">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                <input type="password" placeholder="CONTRASEÑA" class="form-control, text" required [(ngModel)]="usuario.contrasenia" name="contrasenia">
                                <div class="textlabel">Tu contraseña debe tener entre 8 y 20 caracteres, contener letras y números, y no debe contener espacios, caracteres especiales ni emoji</div>
                            </div>
                        </div>
                        
                        <br>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary botton">REGISTRARSE</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>-->


<!-- fsdf -->



<!-- <script src="http://googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<body class="body responsive">

    <div class="bootstrap-wrapper">
        <div class="container text-center">
            <div class="row">
                <div>
                    <div>
                        <form lass="form-horizontal" ngNativeValidate (ngSubmit)="create()">
                            <fieldset class="fields">
                                <legend class="header">REGISTRARSE</legend>
                                <img class="img-perfil" src="../../assets/icon.png" />

                                <div class="container-text">
                                    <div class="form-group ">

                                        <div class="col-md-8 ">
                                            <input type="text" maxlength="10" placeholder="CEDULA"
                                                class="form-control, text" required [(ngModel)]="usuario.cedula"
                                                name="cedula" (input)="escribirInput($event)">
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-md-8 ">
                                            <input type="text" id="nombresss" placeholder="NOMBRES"
                                                class="form-control, text" required [(ngModel)]="usuario.nombre"
                                                name="nombres" disabled>

                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-md-8 ">
                                            <input type="text" placeholder="APELLIDOS" class="form-control, text"
                                                required [(ngModel)]="usuario.apellido" name="apellidos" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-md-8 ">
                                            <input type="email" id="correoe" placeholder="CORREO"
                                                class="form-control, text" required [(ngModel)]="usuario.correo"
                                                name="correo" disabled (input)="autoEmail($event)">
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-md-8">
                                            <input type="password" placeholder="CONTRASEÑA" class="form-control, text"
                                                required [(ngModel)]="usuario.contrasenia" name="contrasenia">
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <div class="col-md-12 text-center">

                                        <button type="submit" class="btn btn-primary botton">REGISTRARSE</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> -->




<!--  -->



<div class="container" id="container" style="margin-top: 15px;">

    <div class="form-container sign-in-container">
        <form action="#" class="login-form" ngNativeValidate (ngSubmit)="create()">
            <h1>REGISTRARSE</h1>
            <div class="social-container">
                <img class="img-perfil" src="../../assets/icon.png" style="width: 100px;"/>
            </div>

         

            <input type="text" maxlength="10" placeholder="CEDULA" class="form-control, text" required
                [(ngModel)]="usuario.cedula" name="cedula" (input)="escribirInput($event)">

            <input type="text" id="nombresss" placeholder="NOMBRES" class="form-control, text" required
                [(ngModel)]="usuario.nombre" name="nombres" disabled>

            <input type="text" placeholder="APELLIDOS" class="form-control, text" required
                [(ngModel)]="usuario.apellido" name="apellidos" disabled>

            <input type="email" id="correoe" placeholder="CORREO" class="form-control, text" required
                [(ngModel)]="usuario.correo" name="correo" disabled (input)="autoEmail($event)">

            <input type="password" placeholder="CONTRASEÑA" class="form-control, text" required
                [(ngModel)]="usuario.contrasenia" name="contrasenia">

            <a></a>
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>