<!-- New version -->




<!-- botones de Navegacion-->

<body class="bodyq">
  <div class="multi-button">
    <button class="btn1">Recepcion</button>
    <button class="btn2" [routerLink]="['/Recepcion_Activos/verTodos']">Ver Todos</button>
  </div>
</body>

<!-- Contenido -->
<div class="progressbar">
  <div class="progress" id="progress"></div>
  <div class="progress-step progress-step-active" data-title="Datos"></div>
  <div class="progress-step" data-title="Detalle"></div>
</div>
<form action="#" class="form" id="forms" onsubmit="event.preventDefault()">
  <!-- Barra Progress -->

  <!-- Primer formulario -->
  <div class="step-forms step-forms-active">
    <form [formGroup]="form" action="" id="msform">
      <div class="group-inputs"></div>
      <fieldset>
        <h2 class="fs-title">Datos de la Recepcion</h2>
        <h3 class="fs-subtitle"></h3>
        <input type="text" class="inputbox" formControlName="num_recep" id="recepcion-num_recep"
          placeholder="N° Recepcion" required (input)="nums_recep($event)" />
        <p class="estado">
          Receptor:  {{user_final}}
        </p>
        <p class="estado">
          Procedencia:
          <select name="procedencia" id="procedencia" class="combobox" required (change)="ids_procedencia($event)">
            <option [ngValue]="undefined"> Seleccione la Procedencia</option>
            <option value={{procedencia.id_procedencia}} [ngValue]="procedencia"
              *ngFor="let procedencia of procedencias"> {{ procedencia.nombre_procedencia }}</option>
          </select>
        </p>
        <p class="estado">
          Edificio:
          <select (change)="cargarDepartamentosSegunEdificio($event)" name="edificio" id="edificio" class="combobox"
            required>
            <option [ngValue]="undefined"> Seleccione un Edificio</option>
            <option [value]="edificio.id_edificio" *ngFor="let edificio of edificios"> {{ edificio.nombre_edificio }}
            </option>
          </select>
        </p>
        <p class="estado">
          Departamento:
          <select name="departamento" id="departamento" class="combobox" required (change)="ids_Departamento($event)">
            <option [ngValue]="undefined"> Seleccione un Departamento </option>
            <option value={{departamento.id_departamento}} [ngValue]="departamento"
              *ngFor="let departamento of departamentos"> {{departamento.nombre_departamento }} </option>
          </select>
        </p>

        <input type="date" class="inputbox" name="fecha_ingreso" [(ngModel)]="dateSet" formControlName="fecha_ingreso" placeholder="Ingrese la fecha - yyyy/mm/dd:" required />
         <div class="btns-group1">
          <input class="btn" type="button" (click)="limpiar()" value="Cancelar">
          <input class="btn btn-next"  type="button" (click)="guardarEncabezadoRecepcion()" value="Registrar">
        </div>
      </fieldset>
    </form>
  </div>

  <!-- Segundo formulario -->
  <div class="step-forms">
    <form action="" id="msform" [formGroup]="recepcionFormDetalle">
      <fieldset>
        <h2 class="fs-title">Detalle de la Recepcion</h2>
        <p class="estado">
          Numero de Recepcion: {{ " " + num_recep }}
        </p>
        <input id="codigo_activo" type="text" class="inputbox" placeholder="Codigo Activo: "
          (input)="codigos_activo($event)" required />
        <input id="nombre-descripcion-activo" type="text" class="inputbox" placeholder="Nombre del Activo: "
          (input)="nombres_activo($event)" required />
        <div class="" style="padding: 0.50rem; display: block;">
          <input class="btn" type="button" value="Añadir" (click)="guardarDetalle_ing()">
        </div>
        <div><br></div>
        <fieldset>
          <div class="form-registrar-procedencia">
            <div class="table-wraper">
              <table class="table">
                <thead class="text-light" style="background-color:#272e56">
                  <tr class="cabecera-tabla">
                    <th class="th-lg"><a>Id</a></th>
                    <th class="th-lg"><a>N° Recepcion</a></th>
                    <th class="th-lg"><a>Activo</a></th>
                    <th class="th-lg"><a>Nombre</a></th>
                    <th class="th-lg"><a>..</a></th>
                  </tr>
                </thead>
                <tbody *ngFor="let itemB of detalleAct">
                  <tr>
                    <th>{{ itemB.id_detalle_ing}}</th>
                    <th>{{ itemB.encabezado_ing.num_recep}}</th>
                    <th>{{ itemB.codigoA}}</th>
                    <th>{{ itemB.descripcion}}</th>
                    <td>
                      <svg style="align-items: center;" class="botons" type="button" (click)="eliminarDetalle(itemB.id_detalle_ing)"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 700">
                        <path
                          d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                      </svg>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>
        <div><br><br><br></div>
        <div class="btns-group">
          <input class="btn " type="button" (click)="Finaliza()" value="Finalizar">
        </div>
      </fieldset>
    </form>
  </div>