.boton_ver{
    padding: 10px;
    font-size: 20px;
}

.boton_historial{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.card{
    margin-top: 20px;
}