<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="py-3 text-center font-bold">
                    Tabla de usuarios
                </h2>
            </div>
            <div class="table-wraper">
                <table class="table">
                    <thead class="text-light" style="background-color: #272e56;">
                        <tr>
                            <th scope="row">#</th>
                            <th class="th-lg">Cedula</th>
                            <th class="th-lg">Nombre</th>
                            <th class="th-lg">Apellido</th>
                            <th class="th-lg">Roles</th>
                            <th class="th-lg">Historial</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let usuario of lista">
                        <tr>
                            <td>{{usuario.id_usuario}}</td>
                            <td>{{usuario.cedula}}</td>
                            <td>{{usuario.nombres}}</td>
                            <td>{{usuario.apellidos}}</td>

                            <td><button type="submit" class="btn btn-primary active" 
                                    [routerLink]="['/permisos/edit' , usuario.id_usuario]"> <img title = "Ver" src="../Imagenes/roles.png"> </button></td>
                            <td><button type="submit" class="btn btn-primary active" routerLink="/historial"> 
                                <img title = "Historial" src="../Imagenes/historial.png"> </button></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div>
                <div class="modal fade text-center" id="crearrecepcion" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="staticBackdropLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>