<!-- botones de Navegacion-->
<body>
    <div class="multi-button">
      <button class="btn1"[routerLink]="['/Gestion_activos']">Activos</button>
      <button class="btn2">Ver todos</button>
    </div>  
  </body>

<!-- Tabla -->
<div class="step-forms step-forms-active">
  <form action="" id="msform">
      <fieldset>
          <div class="form-registrar-procedencia">
              <h4>Lista de Recepciones</h4>

              <div class="table-wraper">
                  <table class="table">
                      <thead class="text-light" style="background-color:#272e56">
                          <tr class="cabecera-tabla">
        
                            <th class="th-lg"><a>id</a></th>  
                            <th class="th-lg"><a>Codigo</a></th>
                              <!-- <th class="th-lg"><a>Nombre</a></th>
                              <th class="th-lg"><a>Custodio</a></th>
                              <th class="th-lg"><a>Responsable</a></th> -->
                              <!-- <th class="th-lg"><a>Procedencia</a></th> -->
                              <th class="th-lg"><a>Marca</a></th>
                              <th class="th-lg"><a>Serie</a></th>
                              <th class="th-lg"><a>Modelo</a></th>
                              <th class="th-lg"><a>Coste</a></th>
                              <th class="th-lg"><a>Estado</a></th>
                              <th class="th-lg"><a>Disposicion</a></th>
                              <!-- <th class="th-lg"><a>departamento</a></th> -->
                              <th class="th-lg"><a>Especificaciones</a></th>
                              <!-- <th class="th-lg"><a>N° Recepción</a></th> -->

                          </tr>
                      </thead>
                      <tbody *ngFor="let itemX of listarActivos ">
                          <tr>
                            <th> {{itemX.id_activo}}</th>
                              <th>{{ itemX.codigo_activo}}</th>
                              <th>{{ itemX.nombre}}</th>
                              <th>{{ itemX.marca}}</th>
                              <th>{{ itemX.modelo}}</th>
                              <th>{{ itemX.costo}}</th>
                              <th>{{ itemX.estado_Fisico}}</th>
                              <th>{{ itemX.disponibilidad}}</th>
                            <th>{{ itemX.descripcion}}</th>
                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </fieldset>
  </form>
</div>