<h1
    style="text-align: center; color: #272e56; font-size: 50px; padding: 35px; font-weight: bold; font-family: montserrat, arial, verdana;">
    Bienvenido</h1>


<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="https://www.tecazuay.edu.ec/assets/img/carreras/software.png">
        </div>
        <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="https://www.tecazuay.edu.ec/assets/img/carreras/entrenamiento.png">
        </div>


        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>

        </ol>
    </div>

</div>