<div class="container mx-auto mt-4 text-center" style="margin-bottom:20em;">

<link rel="stylesheet" href="consultas-activos.component.css">

  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-md-12">
          <h2 class="py-3 text-center font-bold">Consulta de Activos</h2>
        </div>
      </div>

      <div class="box">
        <tr>
          <th>
            <div class="container-1">
            <input type="search" id="search" placeholder="Buscar" />
          </div>
          </th>
      </div>

    <div class="table-wraper">
      <table class="table">
        <thead class="text-light" style="background-color:#272e56">
          <tr>
            <th class="th-lg"><a>Codigo</a></th>
            <th class="th-lg"><a>Nombre</a></th>
            <th class="th-lg"><a>Marca</a></th>
            <th class="th-lg"><a>Modelo</a></th>
            <th class="th-lg"><a>Estado</a></th>
            <th class="th-lg"><a>Custodio</a></th>
            <th class="th-lg"><a>Procedencia</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>AMD-05745</td>
                  <td>CPU</td>
                  <td>HP</td>
                  <td>6300</td>
                  <td>BUENO</td>
                  <td>CHUQUI QUILLE JOSE FABIAN</td>
                  <td>SECAP</td>
          </tr>
          <tr>
            <td>AMD-06580</td>
                  <td>CPU</td>
                  <td>INTEL CORE</td>
                  <td>I7-4770</td>
                  <td>BUENO</td>
                  <td>CHUQUI QUILLE JOSE FABIAN</td>
                  <td>SECAP</td>
          </tr>
          
          <tr>
            <td>AMD-06765</td>
            <td>MONITOR</td>
            <td>HP</td>
            <td>LV911 18.5</td>
            <td>BUENO</td>
            <td>CHUQUI QUILLE JOSE FABIAN</td>
            <td>SECAP</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>